
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 95%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 215 58% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 276 26% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 84%;
    --input: 220 13% 89%;
    --ring: 215 58% 60%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 215 58% 79%;
    --primary-foreground: 224 71% 4%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 276 26% 70%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 215 58% 79%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .checklist-item {
    @apply flex items-center my-2;
  }
  .checklist-item input[type="checkbox"] {
    @apply w-5 h-5 mr-3;
  }
  .checklist-item > div {
    @apply flex-grow;
  }
  .editor-content h1, .editor-content h2, .editor-content h3 {
    @apply my-4;
  }
  .editor-content h1 {
    @apply text-4xl font-bold;
  }
  .editor-content h2 {
    @apply text-3xl font-semibold;
  }
  .editor-content h3 {
    @apply text-2xl font-semibold;
  }
  .pasted-image-wrapper {
    @apply block my-4;
  }
  .pasted-image-container {
    @apply relative inline-block;
  }
  .pasted-image {
    max-height: 50vh;
    max-width: 100%;
    @apply rounded-lg shadow-md border block w-auto h-auto;
  }
  .pasted-image-overlay {
    @apply absolute inset-0 bg-black/50 opacity-0 transition-opacity group-hover:opacity-100 flex items-center justify-center rounded-lg;
  }
  .pasted-image-button {
    @apply bg-white/80 hover:bg-white text-black h-8 w-8 inline-flex items-center justify-center rounded-full;
  }
}
